<footer>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="logo">
                        <a href="">
                            <img src="../assets/images/logo2.png" alt="">
                        </a>
                        
                    </div>
                </div>
                <div class="col-3">
                    <h6 class="mb-4">Меню</h6>
                    <ul>
                        <li><a href="">Головна</a></li>
                        <li><a href="">Каталог</a></li>
                        <li><a href="">Доставка</a></li>
                        <li><a href="">Наші об'єкти</a></li>
                        <li><a href="">Про нас</a></li>
                        <li><a href="">Контакти</a></li>
                        <li><a href="">Блог</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h6 class="mb-4">Сервіси</h6>
                    <ul>
                        <li><a href="">Ворота</a></li>
                        <li><a href="">Автоматика</a></li>
                        <li><a href="">Ролети</a></li>
                        <li><a href="">Фурнітура для воріт</a></li>
                        <li><a href="">Кондиціонери</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h6 class="mb-2">Контакти</h6>
                    <ul>
                        <li><p>вул. Заньковецької, 38
                            м. Ужгород
                            Україна, 88000</p></li>
                        <li> <a href="tel:+380666684508">+38 (066) 668-45-08</a></li>
                        <li> <a href="tel:+380666684508">+38 (066) 668-45-08</a></li>
                        <li> <a href="tel:+380666684508">+38 (066) 668-45-08</a></li>
                        <li> <a href="tel:+380666684508">+38 (066) 668-45-08</a></li>
                        <li><a href="mailto:testum@ukr.net">testum&#64;ukr.net</a></li>
                        <li class="mb-3"><a href="mailto:shop@testum.com.ua">shop&#64;testum.com.ua</a></li>
                        <li><h6>Графік Роботи</h6></li>
                        <li><p>ПН–ПТ з 9:00 до 18:00</p></li>
                        <li><p>СБ з 9:00 до 15:00</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>