footer {
  background: #222;
  p {
    margin-bottom: 0;
  }
  color: white;

}

ul {
  padding-left: 0;
  li {
    list-style: none;
    a {
      &:hover {
        color: var(--primary-color)
      }
    }
  }
}

.header-socials {
  display: flex;
  gap: 16px;
  margin-top: 26px;
  .icon {
    font-size: 30px;
    &:hover {
      color: var(--primary-color);
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
  }
}
