<app-call-us></app-call-us>
<main>
    <section class="page-banner">
        <div class="page-banner-img">
            <div class="container">
                <div class="row">
                    <div class="page-banner-text">
                        <h1 class="mb-3">Контакти</h1>
                        <h3>Testum-UA - твій найкращий вибір!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-info">
        <div class="container">
            <div class="row">
                <div class="col-4 info text-center">
                    <fa-icon class="icon" [icon]="faLocationDot"></fa-icon>
                    <h4>Адреса та графік роботи</h4>
                    <p>вул. Заньковецької, 38, м. Ужгород</p>
                    <p>Понеділок – П'ятниця</p>
                    <p>З 9:00 до 18:00</p>
                    <p>Субота</p>
                    <p>З 9:00 до 15:00</p>
                </div>
                <div class="col-4 info text-center">
                    <fa-icon class="icon" [icon]="faPhone"></fa-icon>
                    <h4>Телефони</h4>
                    <p><a href="tel:+380666684508">+38 (066) 668-45-08</a></p>
                    <p><a href="tel:+380993247166">+38 (099) 324-71-66</a></p>
                    <p><a href="tel:+380683247166">+38 (068) 324-71-66</a></p>
                    <p><a href="tel:+380686684508">+38 (068) 668-45-08</a></p>
                </div>
                <div class="col-4 info text-center">


                    <fa-icon class="icon" [icon]="faEnvelope"></fa-icon>
                    <h4>E-mail та Соц.мережі</h4>

                    <p><a href="mailto:testum@ukr.net">testum&#64;ukr.net</a></p>
                    <p><a href="mailto:shop@testum.com.ua">shop&#64;testum.com.ua</a></p>
                    <div class="socials">

                        <a href="https://www.facebook.com/testum.com.ua" target="_blank"><fa-icon class="icon"
                                [icon]="faInstagram"></fa-icon></a>
                        <a href="https://www.facebook.com/testum.com.ua" target="_blank"><fa-icon class="icon"
                                [icon]="faFacebook"></fa-icon></a>
                        <a href="https://t.me/TestumUa" target="_blank"><fa-icon class="icon"
                                [icon]="faTelegram"></fa-icon></a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1318.9555368679592!2d22.2773211778008!3d48.61154544112658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473919abffa3db07%3A0xf72850d7ab2c2e12!2z0JPQsNGA0LDQttC90ZYg0LLQvtGA0L7RgtCwINGC0LAg0LDQstGC0L7QvNCw0YLQuNC60LAg0LTQu9GPINCy0YHRltGFINGC0LjQv9GW0LIg0LLQvtGA0ZbRgiAiR0FOVCIgLSDQotCe0JIgItCi0LXRgdGC0YPQvC3QrtCQIg!5e0!3m2!1suk!2sua!4v1734972730437!5m2!1suk!2sua"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</main>