<main>
    <section class="page-banner">
        <div class="page-banner-img">
            <div class="container">
                <div class="row">
                    <div class="page-banner-text">
                        <h1 class="mb-3">Паркани</h1>
                        <h3>Testum-UA - твій найкращий вибір!</h3>
                    </div>
                </div>
            </div>
        </div>



    </section>
    <section class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Library</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="products">
        <div class="container">
            <div class="row">
                @for(product of products; track $index){
                    <app-product-card></app-product-card>
                }
            </div>
        </div>
    </section>

    <section class="products-text">
        <div class="container">
            <div class="row">
                <p>
                    Коли ви плануєте купити паркани онлайн, важливо знайти надійного постачальника, який пропонує широкий вибір
                    продукції, вигідні ціни та додаткові послуги, такі як доставка та установка. Наш інтернет-магазин надає
                    можливість легко купити паркани з гарантією якості та за привабливими цінами. Незалежно від того, чи
                    потрібно вам купити паркани для дому або ж ви шукаєте варіанти для бізнесу, ми пропонуємо паркани та
                    огорожі, які відповідають найвищим стандартам.
                </p>
        
                <h3>
                    Переваги купівлі парканів онлайн
                </h3>
                <p>Замовлення парканів в інтернеті дозволяє зекономити ваш час та гроші. Ми забезпечуємо доставку по всій
                    Україні, тому ви можете купити паркани в будь-який зручний для вас час і отримати їх у своєму місті. Для
                    тих, хто шукає варіанти з додатковою економією, у нас є можливість купити паркани дешево, без втрати в
                    якості продукції.</p>
                <p>
                    Якщо ви плануєте купити паркани з установкою, наші спеціалісти забезпечать професійний монтаж, що гарантує
                    довговічність та надійність огорожі. Ми також пропонуємо секційні паркани, які ідеально підходять для
                    облаштування ділянки будь-якого розміру. Такі паркани є популярними завдяки своїй універсальності та
                    легкості установки.
                </p>
        
                <h3>
                    Переваги купівлі парканів онлайн
                </h3>
                <p>Замовлення парканів в інтернеті дозволяє зекономити ваш час та гроші. Ми забезпечуємо доставку по всій
                    Україні, тому ви можете купити паркани в будь-який зручний для вас час і отримати їх у своєму місті. Для
                    тих, хто шукає варіанти з додатковою економією, у нас є можливість купити паркани дешево, без втрати в
                    якості продукції.</p>
                <p>
                    Якщо ви плануєте купити паркани з установкою, наші спеціалісти забезпечать професійний монтаж, що гарантує
                    довговічність та надійність огорожі. Ми також пропонуємо секційні паркани, які ідеально підходять для
                    облаштування ділянки будь-якого розміру. Такі паркани є популярними завдяки своїй універсальності та
                    легкості установки.
                </p>
            </div>
        </div>
    </section>
</main>