<main>
  <section class="hero-section">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" bis_skin_checked="1">
      <div class="carousel-inner" bis_skin_checked="1">
        <div class="carousel-item active" bis_skin_checked="1">
          <img src="../assets/images/slide1.jpg" alt="" class="d-block w-100 vh-100">
        </div>
        <div class="carousel-item" bis_skin_checked="1">
          <img src="../assets/images/slide2.jpg" alt="" class="d-block w-100 vh-100">
        </div>
        <div class="carousel-item" bis_skin_checked="1">
          <img src="../assets/images/slide3.jpg" alt="" class="d-block w-100 vh-100">
        </div>
      </div>
    </div>
    <div class="hero-text">
      <h2 class="mb-3">{{ 'hero.title' | translate }}</h2>
      <h1 class="mb-5">{{ 'hero.subtitle' | translate }}</h1>
      <a [routerLink]="['/products']" class="button">{{ 'hero.button' | translate }}</a>
    </div>
  </section>

  <section class="description">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="description-main-video">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rCPOQxk2H4M"
                title="Компания « STYLE » знает о заборах абсолютно все❗️" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4">
                  <div class="description-video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rCPOQxk2H4M"
                      title="Компания « STYLE » знает о заборах абсолютно все❗️" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-4">
                  <div class="description-video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rCPOQxk2H4M"
                      title="Компания « STYLE » знает о заборах абсолютно все❗️" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-4">
                  <div class="description-video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rCPOQxk2H4M"
                      title="Компания « STYLE » знает о заборах абсолютно все❗️" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 d-flex align-items-start justify-content-between flex-column">
            <div>
              <h4>

                {{ 'description.mainTitle' | translate }}
              </h4>
              <h2>
                {{ 'description.subTitle' | translate }}
              </h2>
              <p>
                {{ 'description.text1' | translate }}
              </p>
              <p>
                {{ 'description.text2' | translate }}
              </p>
            </div>
            <a [routerLink]="['/about-us']" class="button">{{ 'description.button' | translate }}</a>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section class="catalogue">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div>
            <h4>
              Testum UA
            </h4>
            <h2>
              {{ 'catalogue.title' | translate }}
            </h2>
          </div>
          <div class="row">
            <owl-carousel-o [options]="customOptions">
              @for(product of products; track product.id){

              <ng-template carouselSlide>
                <div class="product-card ">
                  <img [src]="product.image" alt="">
                  <h3 class="mb3">{{ product.name }}</h3>
                  <a href="" [routerLink]='["/"]' class="carousel-button">{{ 'catalogue.button' | translate }}</a>
                </div>
              </ng-template>
              }
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="services">
    <div class="wrapper">
      <div class="container">
        <div class="row">

          <div class="col-6 d-flex align-items-start justify-content-between flex-column">
            <div>
              <h4>

                {{ 'services.title' | translate }}
              </h4>
              <h2>
                {{ 'services.subtitle' | translate }}
              </h2>
              <p>
                {{ 'services.text1' | translate }}
              </p>
              <p>
                {{ 'services.text2' | translate }}
            </div>
            <a [routerLink]='["/contacts"]' class="button">{{ 'services.button' | translate }}</a>
          </div>
          <div class="col-6">
            <div class="section-photo">
              <img src="../assets/images/repair.webp" alt="" width="100%">
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="advantages">
    <div class="wrapper">
      <div class="container">
        <div class="row">

          <div class="text-center">
            <h3>
              {{ 'advantages.subtitle' | translate }}
            </h3>
            <h2 class="mb-5">
              {{ 'advantages.title' | translate }}
            </h2>
            <div class="row d-flex justify-content-between">
              <div class="advantages-card col-3">
                <div class="advantages-card-border">
                  <fa-icon [icon]="faShippingFast"></fa-icon>
                </div>
                <p>{{ 'advantages.items.0' | translate }}</p>
              </div>
              <div class="advantages-card col-3">
                <div class="advantages-card-border">
                  <fa-icon [icon]="faHandHoldingDollar"></fa-icon>
                </div>
                <p>{{ 'advantages.items.1' | translate }}</p>
              </div>
              <div class="advantages-card col-3">
                <div class="advantages-card-border">
                  <fa-icon [icon]="faGift"></fa-icon>
                </div>
                <p>{{ 'advantages.items.2' | translate }}</p>
              </div>
              <div class="advantages-card col-3">
                <div class="advantages-card-border">
                  <fa-icon [icon]="faScrewdriverWrench"></fa-icon>
                </div>
                <p>{{ 'advantages.items.3' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="gallery">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div>
            <h4>
              Testum UA
            </h4>
            <h2>
              Галерея
            </h2>
          </div>
          <div>


            <owl-carousel-o [options]="customOptions">
              @for(imageUrl of galleryImages; track $index){

              <ng-template carouselSlide>

                <img [src]=[imageUrl] alt="">

              </ng-template>
              }
            </owl-carousel-o>
          </div>
        </div>

      </div>
    </div>

  </section>



  <section class="end-text">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div>
            <p>
              {{ 'endText.intro' | translate }}
            </p>
            <h4>
              {{ 'endText.whyChooseUs' | translate }}
            </h4>
            <p>
              {{ 'endText.youGet' | translate }}
            </p>
            <ul>
              <li><b>{{ 'endText.whyChooseUsList0.title' | translate }}:</b> {{ 'endText.whyChooseUsList0.description' | translate }}</li>
              <li><b>{{ 'endText.whyChooseUsList1.title' | translate }}:</b> {{ 'endText.whyChooseUsList1.description' | translate }}</li>
              <li><b>{{ 'endText.whyChooseUsList2.title' | translate }}:</b> {{ 'endText.whyChooseUsList2.description' | translate }}</li>
              
            </ul>
            <h4>
              {{ 'endText.deliveryAndInstallation.title' | translate }}
            </h4>
            <p>
              {{ 'endText.deliveryAndInstallation.description' | translate }}

            </p>
            <h4>
              {{ 'endText.productsForHomeAndBusiness.title' | translate }}
            </h4>
            <p>
              {{ 'endText.productsForHomeAndBusiness.description' | translate }}

            </p>
            <h4>
              {{ 'endText.howToOrder.title' | translate }}
            </h4>
            <p>
              {{ 'endText.howToOrder.description' | translate }}

            </p>
            <p>
              {{ 'endText.finalMessage' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>


  <app-call-us></app-call-us>
</main>