.call-us-modal{
    position: fixed;
    bottom: 35px;
    right: 115px;
    z-index: 9999;
    .call-btn{
        background-color: var(--primary-color);
        border-radius: 50%;
        border: none;
        animation: pulse 1.5s infinite;
    }
    @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0px var(--primary-color);
        }

        100% {
            box-shadow: 0 0 7px 25px rgba(0, 112, 244, 0);
        }
      }
    fa-icon{
        font-size: 32px;
    }
    input{
        background-color: rgb(243, 243, 243);
    }
}

.modal-title{
    font-size: 36px;
}