<div class="call-us-modal">
    <button type="button" class="btn btn-primary call-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal()">
        <fa-icon [icon]="faPhone"></fa-icon>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5" id="exampleModalLabel">Зворотний дзвінок</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="modalForm" (ngSubmit)="modalSubmit()">
                    <div class="modal-body">
                        <p>Залишіть ваші дані, щоб наш менеджер мав змогу зв'язатися з вами</p>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Ім'я</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Номер телефону</label>
                            <input class="form-control" type="tel" id="phone" formControlName="phone" required>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">ЗАМОВИТИ ДЗВІНОК</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>