<main>
    <section class="page-banner">
        <div class="page-banner-img">
            <div class="container">
                <div class="row">
                    <div class="page-banner-text">
                        <h1 class="mb-3">Про нас</h1>
                        <h3>Testum-UA - твій найкращий вибір!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us-text">
        <div class="container">
            <div class="row">
                <p>
                    Шановні клієнти, ласкаво просимо на сайті ТОРГОВЕЛЬНО-БУДІВЕЛЬНОЇ КОМПАНІЇ “Roof Best”. Наша
                    компанія має кілька напрямків діяльності, але один з основних – це продаж покрівельних матеріалів та
                    будівництво дахів та огорож “під ключ”. Свою діяльність у покрівельному бізнесі ми розпочали у 2001
                    році та встигли завоювати позитивний імідж надійних постачальників та професійних будівельників у
                    Черкасах та області. Наша компанія є офіційним дилером більшості виробників покрівельних матеріалів,
                    представлених на ринку України, що дозволяє виписувати офіційну гарантію та подавати сертифікати
                    відповідності на всю продукцію, яку ми пропонуємо.
                </p>

                <h4>
                    Основними перевагами роботи з “Roof Best” можна назвати:
                </h4>
                <ul>
                    <li>високий рівень кваліфікації персоналу;</li>
                    <li>високий рівень кваліфікації персоналу;</li>
                    <li>високий рівень кваліфікації персоналу;</li>
                    <li>високий рівень кваліфікації персоналу;</li>
                    <li>високий рівень кваліфікації персоналу;</li>
                    <li>високий рівень кваліфікації персоналу;</li>
                    <li>високий рівень кваліфікації персоналу;</li>
                    <li>високий рівень кваліфікації персоналу;</li>
                </ul>
            </div>
        </div>

    </section>
</main>