.about-us-text{
    padding: 60px 0;
}
.page-banner{
    
  background-image: url("../../../../public/assets/images/page-banners/banner-delivery.png");
}

.about-us-text{
  img{
    width: 753px;
    margin-bottom:  20px;
  }
}