<app-call-us></app-call-us>
<main>
    <section class="page-banner">
        <div class="page-banner-img">
            <div class="container">
                <div class="row">
                    <div class="page-banner-text">
                        <h1 class="mb-3">Доставка</h1>
                        <h3>Testum-UA - твій найкращий вибір!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us-text">
        <div class="container">
            <div class="row">


                <h4>
                    Безкоштовна доставка при замовленні від 50 м²
                </h4>
                <p>Замовляючи паркан у нас, ви отримуєте можливість скористатися безкоштовною доставкою при замовленні
                    від 50 м². Це дозволяє вам економити кошти та отримати продукцію без додаткових витрат.</p>
                <img src="../assets/images/page-banners/banner-delivery.png" alt="" width="75px">
                <h4>
                    Доставка прямо на об’єкт догрузом
                </h4>
                <p>Наш сервіс доставки включає доставку прямо на ваш об’єкт за допомогою догруза. Це означає, що ми
                    доставимо ваш паркан безпосередньо до місця установки, що значно полегшує процес монтажу та
                    економить ваш час.</p>

                <h4>
                    Відправка перевізником Нова Пошта
                </h4>
                <p>Ми також пропонуємо можливість відправки вашого замовлення через перевізника Нова Пошта. Це надійний
                    та швидкий спосіб доставки, який гарантує своєчасне отримання вашого замовлення в будь-якому куточку
                    України</p>

            </div>
        </div>

    </section>
</main>