/* You can add global styles to this file, and also import other style files */

@use "fonts";
@import url('../node_modules/quill/dist/quill.snow.css');

:root {
  --primary-color: #fc0203;
  --secondary-color: #f45e0c;
}

body {
  font-family: "Nunito", monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1320px;
}
.wrapper {
  padding: 60px 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    transition: all 0.3s ease-in;
  }
}

.button {
  background: var(--primary-color);
  color: #fff;
  white-space: nowrap;
  border-radius: 0;
  border: 1px solid transparent;
  text-decoration: none;
  font-size: 14px;
  padding: 12px 60px;
  // display: block;
  transition: all 0.3s ease-in;
  &:hover {
    border: 1px solid var(--primary-color);
    // background: transparent;
    background: #ffffff;
    color: var(--primary-color);
  }
}

.carousel-button {
  color: var(--primary-color);
  border: 1px solid transparent;
  border-bottom: 1px solid var(--primary-color);
  padding: 8px 40px;
  display: block;
  background-color: transparent;
  &:hover {
    border: 1px solid var(--primary-color);
  }
}

.page-banner {
  max-height: 450px;
  width: 100%;
  background-image: url("../public/assets/images/page-banners/page-banner.jpg");
  aspect-ratio: 2.5;
  z-index: 2;
  background-size: 100%;
  background-position: center;

  .page-banner-img {
    background-color: rgba(20, 20, 20, 0.6);
    z-index: 3;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
  }

  .page-banner-text {
    margin-top: 130px;
  }
}

.edit-button{
  font-size: 16px;
  padding: 10px;
  margin-right: 6px;
  background-color: rgb(62, 139, 255);
    border-radius: 8px;
  &:hover{
    border-color: rgb(62, 139, 255);
    color: rgb(62, 139, 255);
  }
}
.delete-button{
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
}